# --- Python ---
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# --- R / RStudio ---
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# --- OS / editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
